<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/  file:///usr/share/openbox/menu.xsd">
  <menu id="root-menu" title="Menu" label="Openbox 3">
<!--	<separator label="Main Menu"/>  -->
		<item label="Терминал">
			<action name="Execute">
				<command>kitty</command>
			</action>
		</item>
		<item label="Файловый менеджер">
			<action name="Execute">
				<command>pcmanfm-qt</command>
			</action>
		</item>
		<item label="Браузер">
			<action name="Execute">
				<command>flatpak run com.Brave.browser</command>
			</action>
		</item>
		<item label="Текстовой редактор">
			<action name="Execute">
				<command>kitty sh -c "micro"</command>
			</action>
		</item>
		<item label="Markdown-редактор">
			<action name="Execute">
				<command>flatpak run org.gnome.gitlab.somas.Apostrophe</command>
			</action>
		</item>
		</menu>
<separator/>
		<menu id="Exit" label="Управление компьютером">
				<item label="Управление компьютером">
					<action name="Execute">
						<command>~/.config/rofi/bin/powermenu</command>
					</action>
		</menu>
	</menu>
</openbox_menu>
